.move {
    position: absolute;
    width: 40px;
    height: auto;
    -webkit-animation: fadein 3000ms linear 1 normal forwards;
}

@keyframes fadein {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0
    }
}
