.reactionMakerContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 201px;
}

.reactionButtons {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.reactionMakerContainer:hover > .reactionButtons{
    display: flex;
}
